body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
}
.time {
  display: flex;
  justify-content: space-evenly;
}
.one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle{
  display: flex;
  justify-content: center;
}